@import "tailwindcss";

:root {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-montserrat);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
}